*{
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}
/* ready components */
.mt{
    margin-top: 130px;
}
.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
}

/* nav styles */
.nav-container{
    position: relative;
}
.main-img{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
}
.hero-container{
    text-align: right;
    width: 500px;
    position: absolute;
    top: 200px;
    right: 16px;
    padding: 0px 200px;
}
.primary-tittle{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}
.primary-desc{
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 26px;
}

/* My exp styles */
.exp-container{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 0px 200px;
}
.exp-img{
    background-repeat: no-repeat;
}
.exp-desc{
    width: 50%;
}
.exp-head{
    margin-bottom: 24px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.exp-comp{
    margin-bottom: 24px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.exp-features li{
    color: #444343;
    font-size: 16px;
    list-style: none;
    line-height: 26px;
}
/* Plan styles */
.plan-head{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding: 0px 200px;
    text-align: center;
    margin-bottom: 50px;
}
.plan-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}
.plan-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    width: 92.958px;
    height: 92.958px;
   
}
.plan-tittle{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px;
}
.plan-desc{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}